  <div class="form-divider">
    <form autocomplete="off" action="#" class="form">
        <header>
            <h1>Login</h1>
        </header>

        <div class="field">
            <input type="email" name="email" id="login-email" placeholder="Email" required>
            <i class="fa-solid fa-circle-check"></i><label for="login-email">Email:</label>
            <span class="helper info">example: JohnDoe344@gmail.com</span>
        </div>

        <div class="field">
            <input type="password" name="password" id="login-password" placeholder="Password" required>
            <i class="fa-solid fa-circle-check"></i><label for="login-password">Password:</label>
            <span class="helper info">Password must be at least 8 characters long</span>
        </div>

        <p class="link-signup">No account?<a href="#Sign-up">sign up</a></p>
    

        <input type="submit" value="Submit">
    </form>
</div>