body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    gap: 1em;


}



.category-item {
    background-color: #004f61f8;
    color: rgb(255, 255, 255);
    padding: 0.8em;
    height: 15em;
    width: 8em;
    text-align: center;
    border: 1px solid #b4b4b4;
    flex: 0 1 10%;
    border-radius: 3%;
}


.category-item i {
    font-size: 30px;
    /* Size of the icon */
    color: #f59f00;
    /* Icon color */
    text-shadow: 2px 2px 2px rgba(172, 168, 168, 0.87);
}

.category-item:hover {
    scale: 0.96;
    opacity: 0.9;
background-image: url("https://st4.depositphotos.com/34463872/38643/v/450/depositphotos_386431866-stock-illustration-books-open-concept-education-knowledge.jpg");
background-size: cover;
}