body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.nav-container {
    position: fixed;
    bottom: -2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    
    
}

.navigation {
    margin: 4em;
    position: relative;
    width: 400px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background: rgba(2, 84, 122, 0.993);

}

.nav-ul-element {
    display: flex;
    width: 350px;

}

.nav-ul-element li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.nav-ul-element li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    color: #fff;
}

li.active a .icon {
    transform: translateY(-35px);
}

a .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

li.active a .text {
    opacity: 1;
    transform: translateY(20px);
    color: #fff;
}

.indicator {
    background-color: rgb(255, 174, 0);
    position: absolute;
    top: -60%;
    left: 9%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    transition: 0.5s;

}

li.active~.indicator {
    --x: 0;
    transform: translateX(var(--x));
}


li:nth-child(2).active~.indicator {--x: 70px}
li:nth-child(3).active~.indicator {--x: 140px}
li:nth-child(4).active~.indicator {--x: 210px}
li:nth-child(5).active~.indicator {--x: 280px}